<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions positionFixed">
        <div class="md-toolbar-tools header">
        <span  class="marginR20 positionRelative">
        <img src="images/logo.png">
        <span class="headerCommaImg"></span>
        </span>
        <span flex="" class="flex"></span>
        <h1 class="ng-binding ng-isolate-scope">
        <a class="docs-anchor ng-scope" ng-href="#basic-usage" name="basic-usage" href="#basic-usage">Policy Overview</a>
        </h1>
        <span flex="" class="flex"></span>
        <ng-md-icon icon="login" ng-click="openLogIn($event)"  style="fill:#06b0d3" size="40px"></ng-md-icon>     
        </div>
</md-toolbar>


<md-content layout-padding class="full noPadding " >
    <section class="transparentBg marginT200 ">
      <h1>Get Term Life Insurance Quote Now</h1>
         <md-button class="md-raised buttonBlueBGWhiteText" ng-click="navigatequickquote()">Quote Now</md-button>
    </section>
    
  </md-content>


<footer>
<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">

<div layout="row" layout-xs="column">
  <div flex>
      <div layout="row" layout-align="start center">
    <img src="images/ticker_tagline.png">
      </div>
  </div>
  <div flex>
      <div layout="row" layout-align="end center">
        <p>Copyright &copy; 2016 Capgemini. All rights reserved.</p>
      </div>
    </div>
  </div>


    </md-toolbar>
</footer>