<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools skyblueBg">
        <h2>Online Bill Payment</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
		  <ng-md-icon icon="close" ng-click="openLogIn($event)"  style="fill:#fff" aria-label="Close dialog"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        
		  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="DEBIT">
        <md-content class="md-padding">
          <h4>Pay Bill</h4>
          
			<form class="width80pc">
				
				<md-content class="md-no-momentum">
					<md-input-container class="md-icon-float md-block">
					  <!-- Use floating label instead of placeholder -->
					  <label>Name On Card</label>
					  <input ng-model="user.name" type="text" placeholder="Type your Name">
					</md-input-container>
					
					<md-input-container class="md-icon-float md-block">
					  <!-- Use floating label instead of placeholder -->
					  <label>Card No</label>
					  <input ng-model="user.cardNo" type="text" placeholder="Type your Cardno">
					</md-input-container>
				</md-content>
				
				<md-content  class="md-block">
					<div flex-gt-xs>
					<div flex >
					<p>Expiry Year</p>
					<md-datepicker ng-model="user.year" md-placeholder="Enter date" md-open-on-focus class="width100PC"></md-datepicker>
					</div>
					<div flex >
					<p>Expiry Month</p>
					<md-datepicker ng-model="user.month" md-placeholder="Enter date" md-open-on-focus class="width100PC"></md-datepicker>
					</div>
					</div>
				</md-content>
				
				<md-input-container md-no-float class="md-block">
				  <input ng-model="user.cvv" type="text" placeholder="CVV">
				</md-input-container>
				
				<md-input-container md-no-float class="md-block">
				  <label>Premium Amount to be debited</label>
				  <input ng-model="user.amount" type="number" step="0.01">
				</md-input-container>
				
				 <md-button class="md-raised buttonBlueBGWhiteText" ng-click="#"> Pay To Continue</md-button>
			
			</form>
        </md-content>
      </md-tab>
      <md-tab label="CREDIT CARD" ng-disabled="'true'">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Two</h1>
          <p>CREDIT CARD Under Constreuction </p>
        </md-content>
      </md-tab>
      <md-tab label="NET BANKING" ng-disabled="'true'">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Three</h1>
          <p>CREDIT CARD Under Constreuction </p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
		  
		  
      </div>
    </md-dialog-content>
 
  </form>
</md-dialog>